*~
RCS
*,v
.DS_Store
build
mavis/token.h
mavis/token.c
__pycache__
.ruff_cache
misc/version.h
spawnd/perl/MYMETA.json
spawnd/perl/MYMETA.yml
spawnd/perl/Makefile.PL
spawnd/perl/Makefile.old
spawnd/perl/Scm.bs
spawnd/perl/Scm.c
spawnd/perl/Scm.o
spawnd/perl/blib/
spawnd/perl/pm_to_blib
.gitignore
*.crt
*.key
*.pem
*.csr
*.p12
*.srl
.python-version
