#!/usr/bin/env -S /usr/local/bin/tactrace.pl --user demo --conf

id = spawnd {
	background = no
#	single process = yes
	listen { port = 4949 }
	spawn {
		instances min = 1
		instances max = 32
	}
}

id = tac_plus-ng {
	host world {
		address = 0.0.0.0/0
		key = demo
	}

	profile admin {
		enable 15 = login
		script {
			if (service == shell) {
			    if (cmd == "")
				set priv-lvl = 15
			    permit
			}
		}
	}

	user demo {
		password login = clear demo
		password pap = login
		profile = admin
	}

	user demo2 {
		password login = clear demo
		password pap = login
		net localhost { address = 127.0.0.1 }
		time sunday { "* * * * 0" }
		time saturday { "* * * * 6" }
		profile {
			acl {
				if (client.name != localhost)
					deny
				if (time == sunday)
					deny
				permit
			}
			script {
				if (client.name == localhost)
					add demoattribute = ignore
				if (service == shell) {
				    if (cmd == "")
					set priv-lvl = 15
				    permit
				}
			}
		}
	}

	acl demo_acl {
		if (service == shell) {
		    if (cmd == "")
			set priv-lvl = 15
		    permit
		}
	}

	user demo3 {
		password login = clear demo
		password pap = login
		profile {
			script = demo_acl
		}
	}
}
